.nameLogin{
    font-size: 14px;
}

.name{
    color:#4fb1c6;
    cursor: pointer;
}

.login{
    cursor:pointer;
}
.bio{
    font-size: 13px;
}

.locationEmail{
    font-size: 12px;
}

 .borderBottom{
    border-bottom: 2px solid rgb(204, 201, 201);
     width: 100%;
 }