.searchResultsDiv{
    position:absolute;
    /* left:4.3%; */
    width:22%;
    background-color:#f2e9e9;
    padding: 13px;
    margin-top:2%;
    border-radius: 10px;
}

.dontshowdiv{
    display: none;
}

.allgithubButton{
    border:0.5px solid white;
    border-radius: 8px;
    padding:6px;
}

.input{
    background-color:white;
   border: 1px solid white;
   border-radius: 10px;
   word-break: break-word;
   white-space: pre-wrap;
}

.parent :hover{
    cursor:pointer;

}

.result{
    word-break: break-word;
    white-space: pre-wrap;
}